<%- include ('../_layouts/adminheader') %>

<h2 class="page-title">Pages</h2>
<a href="/admin/pages/add-pages" class="btn btn-primary">Add a new Page</a>
<br />
<br />

<table class="table table-stripped">
  <tr>
    <th>Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tbody>
    <% pages.forEach((page) => { %>
    <tr>
      <td><%= page.title %></td>

      <td>
        <a href="/admin/pages/edit-page/<%= page.slug %>"> Edit</a>
      </td>
      <% if (page.slug === "home") { %>
      <td></td>
      <% } else {%>
      <td>
        <a href="/admin/pages/delete-page/<%= page._id %>"> Delete </a>
      </td>
      <% } %>
    </tr>

    <% }) %>
  </tbody>
</table>
<%- include ('../_layouts/adminfooter') %>
